<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
    </div>

    <!-- place content you want to go before the contents of bundle.js here -->
    <!-- for example, any dependencies you don't want bundled into bundle.js -->



    <!-- end pre-bundle.js area -->

</body>

<!-- place content you want to run after bundle.js here -->
<!-- for example, code to test the contents of bundle.js -->



<!-- end post-bundle.js area -->

</html>
